html {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

body {
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    background-color: #06114f;
}

div:nth-of-type(1) {
    position: absolute;
    background-color: white;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    animation-name: shootUp, explode;
    animation-delay: 0ms;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

div:nth-of-type(2) {
    position: absolute;
    background-color: white;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    animation-name: shootUp, shootLeft;
    animation-delay: 0ms, 1000ms;
    animation-duration: 1s, 0.5s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards, forwards;
    offset-path: path();
}

div:nth-of-type(3) {
    position: absolute;
    background-color: white;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    animation-name: shootUp, shootRight;
    animation-delay: 0ms, 1000ms;
    animation-duration: 1s, 0.5s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards, forwards;
}

@keyframes shootUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50vh);
    }
}

@keyframes explode {
    0% {
        background-color: white;
        opacity: 1;
    }
    100% {
        background-color: white;
        opacity: 0;
    }
}

@keyframes shootLeft {
    0% {
        background-color: white;
        transform: translate(0vw, -50vh);
        offset-distance: 0%;
    }
    100% {
        transform: translate(5vw, -45vh);
        background-color: red;
        offset-distance: 100%;
    }
}

@keyframes shootRight {
    0% {
        background-color: white;
        transform: translate(0vw, -50vh);
    }
    100% {
        transform: translate(-5vw, -45vh);
        background-color: red;
    }
}
