html {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

body {
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    background-color: #06114f;
}

div:nth-of-type(1) {
    position: absolute;
    background-color: white;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    animation-name: shootUp, explode;
    animation-delay: 0ms;
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

div:nth-of-type(2) {
    position: absolute;
    background-color: white;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    animation-name: shootUp, shootLeftBottom;
    animation-delay: 0ms, 250ms;
    animation-duration: 0.25s, 0.25s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards, forwards;
    offset-path: path();
}

div:nth-of-type(3) {
    position: absolute;
    background-color: white;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    animation-name: shootUp, shootRightBottom;
    animation-delay: 0ms, 250ms;
    animation-duration: 0.25s, 0.25s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards, forwards;
}

div:nth-of-type(4) {
    position: absolute;
    background-color: white;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    animation-name: shootUp, shootRightTop;
    animation-delay: 0ms, 250ms;
    animation-duration: 0.25s, 0.25s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards, forwards;
}

div:nth-of-type(5) {
    position: absolute;
    background-color: white;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    animation-name: shootUp, shootLeftTop;
    animation-delay: 0ms, 250ms;
    animation-duration: 0.25s, 0.25s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards, forwards;
}

div:nth-of-type(6) {
    position: absolute;
    background-color: white;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    animation-name: shootUp, shootBottom;
    animation-delay: 0ms, 250ms;
    animation-duration: 0.25s, 0.25s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards, forwards;
}

div:nth-of-type(7) {
    position: absolute;
    background-color: white;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    animation-name: shootUp, shootTop;
    animation-delay: 0ms, 250ms;
    animation-duration: 0.25s, 0.25s;
    animation-timing-function: ease-in-out, ease-in-out;
    animation-iteration-count: 1, 1;
    animation-fill-mode: forwards, forwards;
}

@keyframes shootUp {
    to {
        transform: translateY(-50vh);
    }
}

@keyframes explode {
    to {
        background-color: white;
        opacity: 0;
    }
}

@keyframes shootLeftBottom {
    to {
        transform: translate(5vw, -45vh);
        background-color: red;
        offset-distance: 100%;
    }
}

@keyframes shootLeftTop {
    to {
        transform: translate(5vw, -55vh);
        background-color: red;
        offset-distance: 100%;
    }
}

@keyframes shootRightTop {
    to {
        transform: translate(-5vw, -55vh);
        background-color: red;
        offset-distance: 100%;
    }
}

@keyframes shootRightBottom {
    to {
        transform: translate(-5vw, -45vh);
        background-color: red;
    }
}

@keyframes shootTop {
    to {
        transform: translate(0vw, -60vh);
        background-color: red;
        offset-distance: 100%;
    }
}

@keyframes shootBottom {
    to {
        transform: translate(0vw, -40vh);
        background-color: red;
    }
}
